.slide{
    z-index: -1;
    max-height: max-content;
    height: 106vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: absolute;
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
}

.slide.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);

    transition: 2s;
    transition-property: clip-path;
}
